$max-width: 1000px;

$header-size: calc(3vw + 3vh + 1.5vmin);
$header-weight: 500;

$body-size: calc(1.7vw + 1.7vh + 1vmin);
$body-weight: 300;

$breakpoint-1: 1200px;
$breakpoint-2: 960px;
$breakpoint-3: 760px;
$breakpoint-4: 480px;

$feature-color: #0000ff;
