.contact {
    visibility: hidden;
    position: fixed;
    right:  0;
    bottom: 0;
    left:   0;
    z-index: -1;
    //background-color: lime;
    background-color: #0000ff;
    //background-color: #16022E;

    .contact-wrap {
        position: relative;
        max-width: $max-width;
        height: 100%;
        margin: 0 auto;
        padding: 100px 30px;
    }

    &.visible { visibility: visible; }

    h2,
    p {
        padding: 0 10px 20px;
        text-align: left;
        color: #fff;
    }

    h2 {
        padding: 0 10px 20px;
    }

    svg {
        display: inline-block;
        width: 35px;
        margin: 20px 10px 20px 10px;
        fill: #fff;
    }

    .phone { padding-bottom: 0; }

    .photo {
        position: absolute;
        right: 125px;
        bottom: 0;
        width: 300px;
    }

}


/*
=============================
    MEDIA QUERIES
=============================
*/

@media(max-width: 960px) {

    .contact {

        .contact-wrap { padding: 100px 10px; }

    }

}

@media(max-width: 860px) {

    .photo { display: none; }

}

@media(max-width: 760px) {

    .contact {

        .contact-wrap {
            padding: 50px 20px;

            h2,
            p {
                padding: 0 0 15px;
            }

            .phone { padding-bottom: 0; }

        }

    }

}

@media(max-width: 480px) {

    .contact { visibility: visible; }

}
