.languages{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(255, 255, 255,.8);
  padding-bottom: 30px;

    &__div {
      margin-top: 2vh;
      width: 20vw;


        &__svg{
          width: 18vw;
          height: 20vh;
        }

    }

    &__div p{
      margin-top: 1vh;
      font-size: calc(1.5vw + 1.5vh + .75vmin);
    }
}

#icons{

}
#iconWrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#lang-header{
  margin-top: 5vh;
}




/*
===================================
    MEDIA QUERIES
===================================
*/

@media (max-width: 1200px) {


}

@media (max-width: 960px) {



}

@media (max-width: 760px) {


}

@media (max-width: 480px) {
  .languages__div__svg{
    width: 40px;
    height: 70px;
  }

  .languages__div__text{
    display: none;
  }

}
